Tika.json
{"flowContents":{"identifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Tika","comments":"","position":{"x":451.999999335545,"y":65.00003386436049},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1ab6d7fe-c781-3ab3-a9ad-bd38ad1eccfb","name":"ExtractText","comments":"","position":{"x":82.0,"y":737.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","sentence":"(^.*$)","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"4 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"65000","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"sentence":{"name":"sentence","displayName":"sentence","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"5968249f-1cea-3444-9dc9-2114cdcda154","name":"ListFile","comments":"","position":{"x":88.0,"y":-246.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"30 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/Users/tspann/Documents/docs/parse","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"50 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"96759120-eb78-3dc3-a0d5-688029c1f373","name":"SplitText","comments":"","position":{"x":78.0,"y":531.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"bd20ab86-51ff-375e-a403-c2f742d34176","name":"CoreNLPProcessor","comments":"","position":{"x":89.0,"y":1142.0},"bundle":{"group":"com.dataflowdeveloper","artifact":"nifi-corenlp-nar","version":"1.6"},"style":{},"type":"com.dataflowdeveloper.processors.process.CoreNLPProcessor","properties":{"sentence":"$[sentence}"},"propertyDescriptors":{"sentence":{"name":"sentence","displayName":"sentence","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"28dadb30-3d4f-3920-829f-881fbc51a80e","name":"AttributesToJSON","comments":"","position":{"x":81.0,"y":1574.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":null,"Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"d865b1f0-6756-34de-beeb-29a7645e5df2","name":"Send to Apache SOLR docs collection","comments":"","position":{"x":-16.0,"y":2456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.solr.PutSolrRecord","properties":{"Solr Update Path":"/update","Solr Socket Timeout":"10 seconds","ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","Fields To Index":"sentiment,segmentoriginalfilename,filelastAccessTime,nlp_location_1,sentence1,absolutepath,filelastModifiedTime,pdfcharsPerPage","kerberos-credentials-service":null,"SSL Context Service":null,"Solr Maximum Connections Per Host":"5","Username":null,"Batch Size":"500","Solr Connection Timeout":"10 seconds","Collection":"docs","Solr Location":"http://localhost:8983/solr/docs","Solr Type":"Standard","put-solr-record-record-reader":"6509aac6-1735-3ac5-9910-aec3b916807c","Commit Within":"5000"},"propertyDescriptors":{"Solr Update Path":{"name":"Solr Update Path","displayName":"Solr Update Path","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"Fields To Index":{"name":"Fields To Index","displayName":"Fields To Index","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"put-solr-record-record-reader":{"name":"put-solr-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Commit Within":{"name":"Commit Within","displayName":"Commit Within","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"2122c33c-3faf-36db-b537-db43f2626f46","name":"ExtractTextProcessor","comments":"","position":{"x":85.0,"y":326.0},"bundle":{"group":"com.dataflowdeveloper","artifact":"nifi-extracttext-nar","version":"1.5"},"style":{},"type":"com.dataflowdeveloper.processors.process.ExtractTextProcessor","properties":{"MAX_TEXT_LENGTH":"-1","HTML_OUTPUT":"text"},"propertyDescriptors":{"MAX_TEXT_LENGTH":{"name":"MAX_TEXT_LENGTH","displayName":"Max Output Text Length","identifiesControllerService":false,"sensitive":false},"HTML_OUTPUT":{"name":"HTML_OUTPUT","displayName":"HTML Output instead of text","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"03aa5ee4-18a8-39d5-8531-2976b6b9c039","name":"Query And convert","comments":"","position":{"x":75.79998779296875,"y":2168.079833984375},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"all":"SELECT * FROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","bad":"SELECT * FROM FLOWFILE \nWHERE sentiment = 'NEGATIVE'","record-writer":"3b031235-fdd4-3860-889f-d1eb57a21f64","neutral":"SELECT * FROM FLOWFILE \nWHERE sentiment = 'NEUTRAL'","record-reader":"aaf2fad1-ac4a-3a48-bbaa-3f3bcd80d6df","include-zero-record-flowfiles":"false","good":"SELECT * FROM FLOWFILE \nWHERE sentiment = 'POSITIVE'","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"bad":{"name":"bad","displayName":"bad","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"neutral":{"name":"neutral","displayName":"neutral","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"good":{"name":"good","displayName":"good","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"81d0b482-181f-3773-835a-1d8dcb81efca","name":"FetchFile","comments":"","position":{"x":89.0,"y":-58.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"ee3ac17c-6107-337f-b907-0e8d26bf6ae0","name":"NLPProcessor","comments":"","position":{"x":82.0,"y":936.0},"bundle":{"group":"com.dataflowdeveloper","artifact":"nifi-nlp-nar","version":"1.6.0"},"style":{},"type":"com.dataflowdeveloper.processors.process.NLPProcessor","properties":{"sentence":"${sentence}","Extra Resources":"/Users/tspann/Documents/servers/nifi-1.14.0/lib"},"propertyDescriptors":{"sentence":{"name":"sentence","displayName":"Sentence","identifiesControllerService":false,"sensitive":false},"Extra Resources":{"name":"Extra Resources","displayName":"Extra Resources","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"01c2634c-cbd4-3a66-a126-f41770bb7f2a","name":"ExtractMediaMetadata","comments":"","position":{"x":87.0,"y":140.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-media-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.media.ExtractMediaMetadata","properties":{"Max Attribute Length":"2048","Metadata Key Prefix":null,"Max Number of Attributes":"5000","Metadata Key Filter":null},"propertyDescriptors":{"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Metadata Key Prefix":{"name":"Metadata Key Prefix","displayName":"Metadata Key Prefix","identifiesControllerService":false,"sensitive":false},"Max Number of Attributes":{"name":"Max Number of Attributes","displayName":"Max Number of Attributes","identifiesControllerService":false,"sensitive":false},"Metadata Key Filter":{"name":"Metadata Key Filter","displayName":"Metadata Key Filter","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"e6431ad9-a283-396d-ba02-09815099c2ab","name":"AttributeCleanerProcessor","comments":"","position":{"x":79.0,"y":1351.0},"bundle":{"group":"com.dataflowdeveloper","artifact":"nifi-attributecleaner-nar","version":"1.0"},"style":{},"type":"com.dataflowdeveloper.processors.process.AttributeCleanerProcessor","properties":{},"propertyDescriptors":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"00698302-3f00-3c7f-a8fe-6bbea101aef6","name":"InferAvroSchema","comments":"","position":{"x":83.0,"y":1771.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kite-nar","version":"1.9.2"},"style":{},"type":"org.apache.nifi.processors.kite.InferAvroSchema","properties":{"Schema Output Destination":"flowfile-attribute","Get CSV Header Definition From Data":"true","Avro Record Name":"PDF","Charset":"UTF-8","CSV Header Line Skip Count":"0","CSV delimiter":",","CSV Escape String":"\\","CSV Header Definition":null,"Input Content Type":"json","Pretty Avro Output":"true","CSV Quote String":"'","Number Of Records To Analyze":"25"},"propertyDescriptors":{"Schema Output Destination":{"name":"Schema Output Destination","displayName":"Schema Output Destination","identifiesControllerService":false,"sensitive":false},"Get CSV Header Definition From Data":{"name":"Get CSV Header Definition From Data","displayName":"Get CSV Header Definition From Data","identifiesControllerService":false,"sensitive":false},"Avro Record Name":{"name":"Avro Record Name","displayName":"Avro Record Name","identifiesControllerService":false,"sensitive":false},"Charset":{"name":"Charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false},"CSV Header Line Skip Count":{"name":"CSV Header Line Skip Count","displayName":"CSV Header Line Skip Count","identifiesControllerService":false,"sensitive":false},"CSV delimiter":{"name":"CSV delimiter","displayName":"CSV delimiter","identifiesControllerService":false,"sensitive":false},"CSV Escape String":{"name":"CSV Escape String","displayName":"CSV Escape String","identifiesControllerService":false,"sensitive":false},"CSV Header Definition":{"name":"CSV Header Definition","displayName":"CSV Header Definition","identifiesControllerService":false,"sensitive":false},"Input Content Type":{"name":"Input Content Type","displayName":"Input Content Type","identifiesControllerService":false,"sensitive":false},"Pretty Avro Output":{"name":"Pretty Avro Output","displayName":"Pretty Avro Output","identifiesControllerService":false,"sensitive":false},"CSV Quote String":{"name":"CSV Quote String","displayName":"CSV Quote String","identifiesControllerService":false,"sensitive":false},"Number Of Records To Analyze":{"name":"Number Of Records To Analyze","displayName":"Number Of Records To Analyze","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","unsupported content","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"3a58770c-0314-362c-96c7-cde354610de8","name":"RetryFlowFile","comments":"","position":{"x":408.0,"y":2656.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"89bd4d80-d93b-3c23-aa3f-11e5858aba16","name":"Set Schema","comments":"","position":{"x":79.0,"y":1968.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"schema":"PDF","Delete Attributes Expression":null,"mime-type":"text/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"PDF","content-type":"text/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"}],"inputPorts":[],"outputPorts":[{"identifier":"ef290dbf-d7e4-3e8e-b5a3-87efe36a3e68","name":"Bad","position":{"x":720.0,"y":2368.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"d47d0370-0732-3176-839d-9e74e2f5b14e","name":"Sent Messages","comments":"","position":{"x":-216.0,"y":2664.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"}],"connections":[{"identifier":"6e8b96af-9192-3540-be9d-b0816fb78a95","name":"","source":{"id":"3a58770c-0314-362c-96c7-cde354610de8","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"RetryFlowFile","comments":""},"destination":{"id":"d865b1f0-6756-34de-beeb-29a7645e5df2","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Send to Apache SOLR docs collection","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":514.3109884525197,"y":2493.6106438019024}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"977d7fab-dcf1-3fb2-97d5-d3686ffbcf40","name":"","source":{"id":"01c2634c-cbd4-3a66-a126-f41770bb7f2a","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"ExtractMediaMetadata","comments":""},"destination":{"id":"2122c33c-3faf-36db-b537-db43f2626f46","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"ExtractTextProcessor","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"bb9eb87c-b938-32bf-84c3-bb06032979fe","name":"","source":{"id":"bd20ab86-51ff-375e-a403-c2f742d34176","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"CoreNLPProcessor","comments":""},"destination":{"id":"e6431ad9-a283-396d-ba02-09815099c2ab","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"AttributeCleanerProcessor","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"38184c2b-995f-361d-8eb0-e927d22a755d","name":"","source":{"id":"2122c33c-3faf-36db-b537-db43f2626f46","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"ExtractTextProcessor","comments":""},"destination":{"id":"96759120-eb78-3dc3-a0d5-688029c1f373","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"66cba10c-edba-3b79-9f54-f6498f2f9629","name":"","source":{"id":"ee3ac17c-6107-337f-b907-0e8d26bf6ae0","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"NLPProcessor","comments":""},"destination":{"id":"bd20ab86-51ff-375e-a403-c2f742d34176","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"CoreNLPProcessor","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"35e7aff7-e7ca-3be6-9f6a-0adf9af8802a","name":"","source":{"id":"e6431ad9-a283-396d-ba02-09815099c2ab","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"AttributeCleanerProcessor","comments":""},"destination":{"id":"28dadb30-3d4f-3920-829f-881fbc51a80e","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"AttributesToJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"3f747416-6a07-3422-9fae-f454133a815c","name":"","source":{"id":"03aa5ee4-18a8-39d5-8531-2976b6b9c039","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Query And convert","comments":""},"destination":{"id":"ef290dbf-d7e4-3e8e-b5a3-87efe36a3e68","type":"OUTPUT_PORT","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Bad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["bad","failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"54890829-0114-38bd-a205-aad0b393b276","name":"","source":{"id":"03aa5ee4-18a8-39d5-8531-2976b6b9c039","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Query And convert","comments":""},"destination":{"id":"d865b1f0-6756-34de-beeb-29a7645e5df2","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Send to Apache SOLR docs collection","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["neutral","good"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"64fafe84-68d9-356a-a95a-9206b6729fb1","name":"","source":{"id":"1ab6d7fe-c781-3ab3-a9ad-bd38ad1eccfb","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"ExtractText","comments":""},"destination":{"id":"ee3ac17c-6107-337f-b907-0e8d26bf6ae0","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"NLPProcessor","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"0e7c0689-bcb1-3a57-8a2c-e0279106f1cf","name":"","source":{"id":"03aa5ee4-18a8-39d5-8531-2976b6b9c039","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Query And convert","comments":""},"destination":{"id":"d865b1f0-6756-34de-beeb-29a7645e5df2","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Send to Apache SOLR docs collection","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-40.0,"y":2376.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"2a693bbc-038a-3684-8339-995821e4eabc","name":"","source":{"id":"d865b1f0-6756-34de-beeb-29a7645e5df2","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Send to Apache SOLR docs collection","comments":""},"destination":{"id":"3a58770c-0314-362c-96c7-cde354610de8","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["connection_failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"8fa61f11-5612-3a8f-8cbb-78a8ee4a2d38","name":"","source":{"id":"28dadb30-3d4f-3920-829f-881fbc51a80e","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"AttributesToJSON","comments":""},"destination":{"id":"00698302-3f00-3c7f-a8fe-6bbea101aef6","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"InferAvroSchema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"c4a15b3b-b0f1-38a8-85ea-c10f4e00a53a","name":"","source":{"id":"96759120-eb78-3dc3-a0d5-688029c1f373","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"SplitText","comments":""},"destination":{"id":"1ab6d7fe-c781-3ab3-a9ad-bd38ad1eccfb","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"ExtractText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"d172305e-44f9-35d4-a62e-a6ba4616f918","name":"","source":{"id":"5968249f-1cea-3444-9dc9-2114cdcda154","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"ListFile","comments":""},"destination":{"id":"81d0b482-181f-3773-835a-1d8dcb81efca","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"554cabd5-fb96-3ff5-a89a-d708bf050ded","name":"","source":{"id":"81d0b482-181f-3773-835a-1d8dcb81efca","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"FetchFile","comments":""},"destination":{"id":"01c2634c-cbd4-3a66-a126-f41770bb7f2a","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"ExtractMediaMetadata","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"351fc8a9-7a0b-3a55-bf3d-00d0971f60c9","name":"","source":{"id":"89bd4d80-d93b-3c23-aa3f-11e5858aba16","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Set Schema","comments":""},"destination":{"id":"03aa5ee4-18a8-39d5-8531-2976b6b9c039","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Query And convert","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"8cc8827b-3275-38a6-bf46-3e034a958144","name":"","source":{"id":"d865b1f0-6756-34de-beeb-29a7645e5df2","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Send to Apache SOLR docs collection","comments":""},"destination":{"id":"d47d0370-0732-3176-839d-9e74e2f5b14e","type":"OUTPUT_PORT","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Sent Messages","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"f144e891-d9b6-3add-8b76-3a3d1854c3c2","name":"","source":{"id":"00698302-3f00-3c7f-a8fe-6bbea101aef6","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"InferAvroSchema","comments":""},"destination":{"id":"89bd4d80-d93b-3c23-aa3f-11e5858aba16","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Set Schema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"f42bb0a6-a39d-3541-87c6-57fda3a01590","name":"","source":{"id":"3a58770c-0314-362c-96c7-cde354610de8","type":"PROCESSOR","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"RetryFlowFile","comments":""},"destination":{"id":"7d754017-fc10-32e8-88be-c0ea0648c3bc","type":"FUNNEL","groupId":"c34230eb-5df2-35b5-82ab-79e4e69edd8d","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"}],"labels":[],"funnels":[{"identifier":"7d754017-fc10-32e8-88be-c0ea0648c3bc","position":{"x":752.0,"y":2464.0},"componentType":"FUNNEL","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"}],"controllerServices":[{"identifier":"35b63751-0c0f-3097-82e1-f17e5a3a634f","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.14.0"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.14.0"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":"31e0993c-f9f3-3def-bf57-e914776b2425","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"bcfdd344-3fcb-3447-af92-6bd10d64d87d","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.14.0"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.14.0"}}],"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"31e0993c-f9f3-3def-bf57-e914776b2425","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"},{"identifier":"31e0993c-f9f3-3def-bf57-e914776b2425","name":"princetonCloudSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.14.0"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.14.0"}}],"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"ssl-context-service":null,"cache-size":"1000","kerberos-principal":null,"url":"http://172.26.254.222:7788/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c34230eb-5df2-35b5-82ab-79e4e69edd8d"}],"variables":{},"parameterContextName":"sensors","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"6509aac6-1735-3ac5-9910-aec3b916807c":{"identifier":"6509aac6-1735-3ac5-9910-aec3b916807c","name":"CDP Infer JsonTreeReader"},"3b031235-fdd4-3860-889f-d1eb57a21f64":{"identifier":"3b031235-fdd4-3860-889f-d1eb57a21f64","name":"JsonRecordSetWriter"},"aaf2fad1-ac4a-3a48-bbaa-3f3bcd80d6df":{"identifier":"aaf2fad1-ac4a-3a48-bbaa-3f3bcd80d6df","name":"Infer JsonTreeReader"}},"parameterContexts":{"sensors":{"name":"sensors","parameters":[{"name":"kafkabrokers","description":"","sensitive":false,"value":"edge2ai-1.dim.local:9092"},{"name":"Database Driver Class Name","description":"","sensitive":false,"value":"org.postgresql.Driver"},{"name":"Database Driver Location","description":"","sensitive":false,"value":"/Users/tspann/Documents/servers/nifi-1.14.0/logs/postgresql-42.2.23.jar"},{"name":"Database Password","description":"","sensitive":true},{"name":"energytopic","description":"","sensitive":false,"value":"energy"},{"name":"Database User","description":"","sensitive":false,"value":"hqcpwqca"},{"name":"trendingtemperaturequery","description":"","sensitive":false,"value":"SELECT * \nFROM FLOWFILE\nWHERE CAST(temperaturef as FLOAT) > 60\n"},{"name":"scadaclientid","description":"","sensitive":false,"value":"nifi-scada-data-remote"},{"name":"allquery","description":"","sensitive":false,"value":"SELECT *\nFROM FLOWFILE"},{"name":"scadatopic","description":"","sensitive":false,"value":"scada"},{"name":"Kudu Masters","description":"","sensitive":false,"value":"edge2ai-1.dim.local:7051"},{"name":"Database Connection URL","description":"","sensitive":false,"value":"jdbc:postgresql://stampy.db.elephantsql.com:5432/hqcpwqca"},{"name":"global_temperaturealerttopic","description":"","sensitive":false,"value":"global_temperaturealert"},{"name":"sensordataclientid","description":"","sensitive":false,"value":"nifi-sensor-data-local"},{"name":"tempquery","description":"","sensitive":false,"value":"SELECT * \nFROM FLOWFILE\nWHERE CAST(temperaturef as FLOAT) > 70\n"}]}},"flowEncodingVersion":"1.0"}